@import url("https://fonts.googleapis.com/css?family=Roboto:300, 400, 500, 700");
@import url("https: //fonts.googleapis.com/css?family=Playfair+Display:400, 700");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
*{
  font-family: "Poppins", sans-serif;

}

body {
  color: #777;
  /* font-family: "Roboto", sans-serif; */
  font-size: 14px;
  font-weight: 400;
}
h1 {
  color: #fff;
  /* font-family: "Playfair Display", serif; */
  font-size: 60px !important;
  font-weight: 700;
  font-style: italic;
}
h2 {
  color: #fff;
  /* font-family: "Playfair Display", serif; */
  font-size: 42px !important;
  font-weight: 700;
}
h3 {
  color: #131230;
  /* font-family: "Playfair Display", serif; */
  font-size: 36px !important;
  font-weight: 700;
}
h4 {
  color: #fff;
  /* font-family: "Roboto", sans-serif; */
  font-size: 24px !important;
  font-weight: 400;
  font-style: italic;
  text-transform: capitalize;
}
h5 {
  color: #131230;
  /* font-family: "Playfair Display", serif; */
  text-transform: capitalize;
  font-size: 20px !important;
  font-weight: 700;
}
h6 {
  color: #fff;
  font-family: "Playfair Display", serif;
  font-size: 60px !important;
  font-weight: 700;
  font-style: italic;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a:hover,
a:focus {
  text-decoration: none;
}
input:focus,
textarea:focus {
  outline: none;
}

.navbar {
  background: white !important;
  height: 100px;
}

/* .navbar ul li a {
  color: white !important;
  font-weight: bold;
} */

.navbar-brand img {
  height: 86px;
  width: 205px;
}
.bgimage {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../assets/img/hero_header1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.bgimage_menu {
  width: 100%;
  height: 50vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../assets/img/menu-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.bgimage_about {
  width: 100%;
  height: 60vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../assets/img/about1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.bgimage_cheff {
  width: 100%;
  height: 60vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../assets/img/cheff.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.bgimage_contact {
  width: 100%;
  height: 60vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../assets/img/contact-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}


.bgimage h5 {
  color: white;
  text-shadow: 2px 2px #333;
}
/* .container-fluid{
    background: white;
} */
.image_text {
  width: 50%;
  margin: auto;
  margin-top: 10%;
}

.image_text h6 {
  font-size: 70px !important;
}

.image_text p {
  font-size: 20px !important;
  color: rgb(201, 199, 199);
}
.welcome-area {
  height: 100vh;
}

.footer-area {
  background: #131230;
}
.footer-area .footer-widget h5,
.footer-area .footer-widget p {
  color: #fff;
}
.footer-area .footer-widget .footer-copyright span {
  color: #fff;
}

.reservation-area {
  background-image: url("../assets/img/reservation-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.section-padding {
  padding: 130px 0;
  margin-top: 10%;
}
.template-btn {
  color: #131230;
  background: #ffb606;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  border: 1px solid transparent;
  display: inline-block;
  padding: 12px 30px !important;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.template-btn:hover {
  color: #131230;
  background: transparent;
  border: 1px solid #ffb606;
}
.template-btn2:hover {
  color: #ffb606;
}
.template-btn3 {
  color: #131230;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  display: inline-block;
  position: relative;
}
.template-btn3 span {
  position: absolute;
  top: 0;
  left: 110%;
  color: #131230;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.template-btn3:hover {
  color: #131230;
}
.template-btn3:hover span {
  color: #ffb606;
  left: 115%;
}

.section-padding {
  padding: 130px 0;
}
.section-padding2 {
  padding-top: 130px;
}
.section-padding3 {
  padding-bottom: 130px;
}
.section-padding4 {
  padding: 130px 0 200px;
}
.section-top {
  margin-bottom: 80px;
}
.section-top .style-change {
  color: #ffb606;
  font-style: italic;
}
.section-top2 {
  margin-bottom: 80px;
}
.section-top2 span {
  color: #ffb606;
}

.deshes-area span {
  color: #ffb606;
}
.deshes-area h1 {
  color: #131230;
  font-style: inherit;
  position: relative;
}
.deshes-area h1:after {
  content: "";
  position: absolute;
  top: 45px;
  left: 90px;
  width: 200px;
  height: 1px;
  background: #131230;
}
.deshes-area .style-change {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: 700;
  display: block;
}
.deshes-area .deshes-text {
  padding-left: 90px;
}
@media (max-width: 575.98px) {
  .deshes-area .deshes-text {
    padding-left: 0;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

a {
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
a,
a:hover {
  text-decoration: none !important;
}

.content {
  height: 70vh;
}

.footer-my {
  padding: 7rem 0;
  background: #000;
  color: #777;
}
.footer-my .footer-site-logo {
  color: #fff;
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 30px;
  display: block;
}
.footer-my h3 {
  color: #fff;
  font-size: 16px;
  margin-bottom: 20px;
}
.footer-my .links li {
  margin-bottom: 10px;
}
.footer-my .links li a {
  color: #999;
}
.footer-my .links li a:hover {
  color: #fff;
}
.footer-my .link-menu li {
  display: inline-block;
}
.footer-my .link-menu li a {
  color: #fff;
  display: inline-block;
  padding: 10px;
}
.footer-my .link-menu.nav-left li:first-child a {
  padding-left: 0;
}
.footer-my .link-menu.nav-right li:last-child a {
  padding-left: 0;
}
.footer-my .social li {
  display: inline-block;
}
.footer-my .social li a {
  display: inline-block;
  padding: 10px;
  color: #ccc;
}
.footer-my .social li:last-child a {
  padding-right: 0;
}
.footer-my .line {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.footer-59391 {
  border-top: 1px solid #efefef;
  background-color: #fff;
  font-family: "Poppins", sans-serif;
  padding: 4rem 0;
}
.footer-59391 .site-logo a {
  font-size: 30px;
  color: #3e64ff;
  font-weight: 900;
}
.footer-59391 .nav-links li {
  display: inline-block;
}
.footer-59391 .nav-links li a {
  color: #777;
  padding: 10px;
}
.footer-59391 .nav-links li a:hover {
  color: #3e64ff;
}
.footer-59391 .nav-links.nav-left li:first-child {
  padding-left: 0;
}
.footer-59391 .nav-links.nav-right li:last-child {
  padding-right: 0;
}
.footer-59391 .copyright {
  border-top: 1px solid #efefef;
  padding-top: 50px;
  text-align: center;
  color: #777;
}
.footer-59391 .subscribe .form-group {
  margin-bottom: 0;
  padding-bottom: 0;
  position: relative;
}
.footer-59391 .subscribe .form-group input[type="email"] {
  height: 45px;
  border: none;
  background: #e6e6e6;
}
.footer-59391 .subscribe .form-group input[type="email"]:focus,
.footer-59391 .subscribe .form-group input[type="email"]:active {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.footer-59391
  .subscribe
  .form-group
  input[type="email"]::-webkit-input-placeholder {
  color: #b3b3b3;
  font-size: 14px;
}
.footer-59391 .subscribe .form-group input[type="email"]::-moz-placeholder {
  color: #b3b3b3;
  font-size: 14px;
}
.footer-59391 .subscribe .form-group input[type="email"]:-ms-input-placeholder {
  color: #b3b3b3;
  font-size: 14px;
}
.footer-59391 .subscribe .form-group input[type="email"]:-moz-placeholder {
  color: #b3b3b3;
  font-size: 14px;
}
.footer-59391 .subscribe .form-group button {
  position: absolute;
  border: none;
  background: none;
  font-size: 1.5rem;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  top: 0.5rem;
  right: 0.3rem;
  line-height: 0;
}
.footer-59391 .subscribe .form-group button:focus,
.footer-59391 .subscribe .form-group button:active {
  outline: none;
}
.footer-59391 .social li {
  display: inline-block;
  position: relative;
}
.footer-59391 .social li a {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: inline-block;
  margin: 0;
  padding: 0;
  background-color: #e6e6e6;
  color: #333333;
}
.footer-59391 .social li a > span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.footer-59391 .social li a:hover {
  color: #3e64ff;
}

.footer-95942 {
  padding: 7rem 0;
  font-family: "Poppins", sans-serif;
}
.footer-95942 .nav-links li {
  display: block;
  margin-bottom: 10px;
}
.footer-95942 .nav-links li a {
  font-size: 14px;
  color: #777;
}
.footer-95942 .nav-links li a:hover {
  color: #4200ff;
}
.footer-95942 .social.app {
  font-size: 13px;
}
.footer-95942 .social li {
  display: inline-block;
}
.footer-95942 .social li a {
  display: inline-block;
  padding: 10px;
  color: #ccc;
}
.footer-95942 .social li a:hover {
  color: #4200ff;
}
.footer-95942 .social.nav-left li:first-child a {
  padding-left: 0px;
}
.footer-95942 .social.nav-right li:last-child a {
  padding-right: 0px;
}
.footer-95942 h3 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-48201 {
  padding: 7rem 0;
  background-color: #000;
  color: #777;
}
.footer-48201 .footer-site-logo {
  font-size: 1.5rem;
  color: #fff;
}
.footer-48201 .nav-links li {
  margin-bottom: 10px;
}
.footer-48201 .nav-links li a {
  color: gray;
}
.footer-48201 .nav-links li a:hover {
  color: #fff;
}
.footer-48201 .btn.btn-tertiary {
  background-color: #e42c64;
  color: #fff;
  border-radius: 30px;
  border: none;
  padding: 10px 20px;
}
.footer-48201 .social li {
  display: inline-block;
}
.footer-48201 .social li a {
  color: gray;
  padding: 7px;
}
.footer-48201 .social li a:hover {
  color: #fff;
}
.footer-48201 .copyright {
  border-top: 1px solid #404040;
}

.footer-99382 {
  padding: 7rem 0;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: #777;
  position: relative;
  font-family: "Poppins", sans-serif;
}
.footer-99382:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
.footer-99382 h3 {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 30px;
}
.footer-99382 .footer-site-logo {
  font-size: 1.5rem;
  color: #fff;
}
.footer-99382 .nav-links li {
  margin-bottom: 10px;
}
.footer-99382 .nav-links li a {
  color: #999999;
}
.footer-99382 .nav-links li a:hover {
  color: #fff;
}
.footer-99382 .btn.btn-tertiary {
  background-color: #e42c64;
  color: #fff;
  border-radius: 30px;
  border: none;
  padding: 10px 20px;
}
.footer-99382 .social li {
  display: inline-block;
}
.footer-99382 .social li a {
  color: gray;
  padding: 7px;
}
.footer-99382 .social li a:hover {
  color: #fff;
}
.footer-99382 .copyright {
  border-top: 1px solid #595959;
}

.footer-16371 {
  padding: 7rem 0;
  font-family: "Poppins", sans-serif;
}
.footer-16371 .footer-site-logo {
  text-align: center;
  font-size: 2rem;
  font-weight: 900;
}
.footer-16371 .footer-site-logo a {
  color: #4200ff;
}
.footer-16371 .nav-links {
  padding: 0;
  margin: 0;
}
.footer-16371 .nav-links li {
  display: inline-block;
}
.footer-16371 .nav-links li a {
  padding: 10px;
  color: #000;
}
.footer-16371 .nav-links li a:hover {
  color: #4200ff;
}
.footer-16371 .social h3 {
  font-weight: bold;
  font-size: 18px;
  color: #000;
}
.footer-16371 .social ul li {
  display: inline-block;
}
.footer-16371 .social ul li a {
  display: inline-block;
  padding: 10px;
}
.footer-16371 .social ul li.in a {
  color: #df588a;
}
.footer-16371 .social ul li.tw a {
  color: #15b8ff;
}
.footer-16371 .social ul li.fb a {
  color: #3742d0;
}
.footer-16371 .social ul li.dr a {
  color: #fa38c1;
}
.footer-16371 .social ul li.pin a {
  color: #dd4d5a;
}
.footer-16371 .copyright {
  color: #999999;
}

.footer-39201 {
  padding: 7rem 0;
  color: #9d9d9d;
}
.footer-39201 .subscribe {
  position: relative;
}
.footer-39201 .subscribe .form-control {
  background-color: #e6e6e6;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 30px;
  height: 50px;
  padding-left: 30px;
  padding-right: 130px;
  border: none;
  color: #000;
}
.footer-39201 .subscribe .form-control::-webkit-input-placeholder {
  color: #b3b3b3;
  font-style: italic;
  font-size: 14px;
}
.footer-39201 .subscribe .form-control::-moz-placeholder {
  color: #b3b3b3;
  font-style: italic;
  font-size: 14px;
}
.footer-39201 .subscribe .form-control:-ms-input-placeholder {
  color: #b3b3b3;
  font-style: italic;
  font-size: 14px;
}
.footer-39201 .subscribe .form-control:-moz-placeholder {
  color: #b3b3b3;
  font-style: italic;
  font-size: 14px;
}
.footer-39201 .subscribe .btn-submit {
  background: #614ad3;
  height: 40px;
  border-radius: 30px;
  padding-left: 30px;
  padding-right: 30px;
  color: #fff;
  font-weight: bold;
  position: absolute;
  top: 5px;
  right: 5px;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.footer-39201 h3 {
  font-size: 16px;
  font-weight: 900;
  color: #000;
  margin-bottom: 20px;
}
.footer-39201 .nav-links li {
  display: block;
  margin-bottom: 10px;
}
.footer-39201 .nav-links li a {
  color: #9d9d9d;
}
.footer-39201 .nav-links li a:hover {
  color: #614ad3;
}
.footer-39201 .social li {
  display: inline-block;
}
.footer-39201 .social li a {
  display: inline-block;
  padding: 10px;
  color: #9d9d9d;
}
.footer-39201 .social li a:hover {
  color: #614ad3;
}

/* About.html */

.image_text_about {
  display: flex;
  justify-content: center;
  height: 400px;
}

.menu-section-title {
  color: #ffb606;
}

.menu-item {
  margin: 40px 0;
}

.menu-item-price {
  font-size: 24px;
  font-weight: 500;
}

.menu-item-name {
  font-size: 20px;
  font-weight: bold;
}

/* About.html */
.about_background {
  background-color: #ffb606;
}

.about_text h3 {
  color: #fdfdfd;
}
.follow {
  height: 60vh;
  margin-top: 10%;
}

.follow_btn {
  margin-top: 3%;
}
.follow p {
  font-size: 30px;
  color: #ffb606;
}

/* contact */

.contactForm .form-control {
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding: 0;
}

/* form background */
.contact-wrap {
  background: #ffb606;

  color: #fff;
}

.info-wrap h3 {
  color: #000;
  position: relative;
}
.info-wrap h3:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 60px;
  height: 3px;
  background: #ffdef3;
  content: "";
}

.info-wrap .dbox {
  width: 100%;
  margin-bottom: 25px;
}
.info-wrap .dbox:last-child {
  margin-bottom: 0;
}
.info-wrap .dbox p {
  margin-bottom: 0;
}
.info-wrap .dbox p span {
  font-weight: 400;
  color: #000;
}
.info-wrap .dbox p a {
  color: rgba(0, 0, 0, 0.3);
}
.info-wrap .dbox .icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.05);
}
.info-wrap .dbox .icon span {
  font-size: 20px;
  color: #000;
}
.info-wrap .dbox .text {
  width: calc(100% - 50px);
}

#contactForm input{
  margin: 20px 0;
  height: 40px;
}

.contact-wrap h3{
  color: white;
  font-weight: bold;
}

#contactForm textarea{
  margin: 20px 0;
  border-bottom: 2px solid white;
}


/* Logo */

/* Title */
header h1 {
    font-weight:300;
    font-size:24px;
    color:#eee;	
	letter-spacing:2px;
	text-align:center;
	text-transform:uppercase;
	margin:0 !important;
	padding-bottom:25px;
}


a,
a:hover,
a:focus {
    color: inherit;
}

body {
    background-color: #F1F2F3;
}



.card-container {
    padding: 100px 0px;
    -webkit-perspective: 1000;
    perspective: 1000;
}



.profile-card-5 {
    max-width: 300px;
    background-color: #FFF;
    border-radius: 5px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
    margin: 10px auto;
    cursor: pointer;
    padding: 50px 15px 25px 15px;
}

.profile-card-5 img {
    height: 100px;
    width: 100px;
    object-fit: cover;
    margin: 10px auto;
    border-radius: 50%;
    transition: all linear 0.25s;
    position: relative;
}

.profile-card-5::before {
    content: "";
    position: absolute;
    top: -60px;
    right: 0px;
    left: 0px;
    height: 170px;
    background-color: #ffb606;
    transform: skewY(-20deg);
}
.spanhour{
  color:#ffb606;
}

.profile-card-5 .profile-name {
    padding-top: 15px;
    font-weight: bold;
    color: #333;
}

.profile-card-5 .profile-designation {
    font-size: 13px;
    color: #777;
}


.profile-card-5 .profile-description {
    font-size: 13px;
    color: #777;
    padding: 10px;
}

.profile-card-5 .profile-overview {
    padding: 15px 0px;
}

.profile-card-5 .profile-overview p {
    color: #777;
    font-size: 13px;
}

.profile-card-5 .profile-overview h2 {
    font-weight: bold;
    color: #1e2832;
}

.profile-card-5 .profile-icons .fa {
    margin: 7px;
    color: #4fb96e;
}

.profile-card-5:hover img {
    transform: rotate(-5deg);
}







/* For Phone */
@media screen and (max-width: 600px) {
  .image_text {
    width: 90%;
  }

  .image_text h6 {
    font-size: 60px;
  }
}